
body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 13px;
	height: 100%;
	text-align: center;
	background: #023c40;
	color: #000;
	font-family: 'Sofia Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Sofia Pro', sans-serif;
}
.m-30{
    margin: 30px 0;
}
.recent-tutorials{
    height: 400px;
}

iframe,embed { width: 100%!important; height: 400px!important; }