.m-30{
    margin: 30px 0;
}
.recent-tutorials{
    height: 400px;
}
ul.spaced li{
    /* line-height: 1.5em !important; */
    padding-bottom: 1em !important;
    /* text-transform: uppercase; */
}

ul.spaced li:hover{
    margin-left: 1em;
}
iframe,embed { width: 100%!important; height: 400px!important; }

ul.yellow{
	color: #eec170ff !important;
}
.greyscale{
    filter: grayscale(100%) !important;
}
.text-black{
    font-size: 1.5em;
    font-weight: 400;
    color: black;
}