{% extends 'base_fixed.html' %}
{% load static %}
{% block contents %}
    <!-- section-->
    <section data-scrollax-parent="true" id="sec3">
        <div class="section-subtitle" data-scrollax="properties: { translateY: '-250px' }"><span>#</span> My Resume
        </div>
        <div class="container">
            <!-- section-title -->
            <div class="section-title fl-wrap">
                <h3>Some Words About Me</h3>
                <h2>My Awesome <span> Story</span></h2>
                <p>
                    We started as a small, subdue, called hath give fourth. Them one over saying. So the god, greater.
                    You. Us air Moved divide midst us fifth sea .
                </p>
            </div>
            <!-- section-title end -->
            <!-- custom-inner-holder -->
            <div class="custom-inner-holder  mar-bottom">
                <!-- custom-inner -->
                <div class="custom-inner">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="custom-inner-header workres">
                                <i class="fa fa-briefcase"></i>
                                <h3> Senior Software Developer - ADALAB</h3>
                                <span> 2020-2021 </span>
                            </div>
                            <div class="ci-num"><span>01. -</span></div>
                        </div>

                        <div class="col-md-8">
                            <div class="custom-inner-content fl-wrap">
                                <h4>Complete the project "domik"</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form, by injected humour, or randomised words which
                                    don't look even slightly believable. If you are going to use a passage of Lorem
                                    Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                                    text. </p>
                                <ul>
                                    <li>Door portals plan</li>
                                    <li>Furniture specifications</li>
                                    <li>Interior design</li>
                                </ul>
                                <a href="#" class="cus-inner-head-link color-bg">Details + </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- custom-inner end -->
                <!-- custom-inner -->
                <div class="custom-inner">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="custom-inner-header educ">
                                <i class="fal fa-university"></i>
                                <h3> Software Developer - Starbrand Creative</h3>
                                <span> 2011-2013 </span>
                            </div>
                            <div class="ci-num"><span>02. - </span></div>
                        </div>
                        <div class="col-md-8">
                            <div class="custom-inner-content fl-wrap">
                                <h4>Passage of Lorem Ipsum</h4>
                                <p>We started as a small, subdue, called hath give fourth. Them one over saying. So the
                                    god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth
                                    said seas rule above. Quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    exea. commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#" class="cus-inner-head-link color-bg">Details + </a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- custom-inner end -->
                <!-- custom-inner -->
                <div class="custom-inner">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="custom-inner-header workres">
                                <i class="fa fa-briefcase"></i>
                                <h3> Udart - Software Developer</h3>
                                <span> 2010-2013 </span>
                            </div>
                            <div class="ci-num"><span>03. - </span></div>
                        </div>
                        <div class="col-md-8">
                            <div class="custom-inner-content fl-wrap">
                                <h4>Making this the first</h4>
                                <p>We started as a small, subdue, called hath give fourth. Them one over saying. So the
                                    god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth
                                    said seas rule above. All the Lorem Ipsum generators on the Internet tend .</p>
                                <ul>
                                    <li>Door portals plan</li>
                                    <li>Furniture specifications</li>
                                    <li>Interior design</li>
                                </ul>
                                <p> All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                                    necessary, making this the first true generator on the Internet. It uses a
                                    dictionary of over 200 Latin words</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- custom-inner-holder -->
            <a href="#" class="btn float-btn flat-btn color-btn mar-top">Download Resume</a>
        </div>
    </section>

    <!-- section-->
    <section data-scrollax-parent="true">
        <div class="section-subtitle" data-scrollax="properties: { translateY: '-250px' }"><span>#</span>How I Work
        </div>
        <div class="container">
            <!-- section-title -->
            <div class="section-title fl-wrap">
                <h3>How i Work</h3>
                <h2>My Working <span>Process</span></h2>
                <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna.
                    Etiam suscipit commodo gravida. </p>
            </div>
            <!-- section-title end -->
            <!--process-wrap  -->
            <div class="process-wrap fl-wrap">
                <ul>
                    <li>
                        <div class="time-line-icon">
                            <i class="fab fa-slideshare"></i>
                        </div>
                        <h4>Discuss the project</h4>
                        <div class="process-details">
                            <h6>Duis autem vel eum iriure dolor</h6>
                            <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
                                autem vel eum iriure dolor.</p>
                            <a href="#">More Details</a>
                        </div>
                        <span class="process-numder">01.</span>
                    </li>
                    <li>
                        <div class="time-line-icon">
                            <i class="fal fa-laptop"></i>
                        </div>
                        <h4>Develop & elaborate</h4>
                        <div class="process-details">
                            <h6>In ut odio libero, at vulputate urna. </h6>
                            <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
                                autem vel eum iriure dolor.</p>
                            <a href="#">More Details</a>
                        </div>
                        <span class="process-numder">02.</span>
                    </li>
                    <li>
                        <div class="time-line-icon">
                            <i class="fal fa-flag-checkered"></i>
                        </div>
                        <h4>Final approvement</h4>
                        <div class="process-details">
                            <h6>Nulla posuere sapien vitae lectus suscipit</h6>
                            <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
                                autem vel eum iriure dolor.</p>
                            <a href="#">More Details</a>
                        </div>
                        <span class="process-numder">03.</span>
                    </li>
                </ul>
            </div>
            <!--process-wrap   end-->
            <div class="fl-wrap mar-top">
                <div class="srv-link-text">
                    <h4>Need more info ? Visit my services page : </h4>
                    <a href="services.html" class="btn float-btn flat-btn color-btn">My Services</a>
                </div>
            </div>
        </div>
        <div class="bg-parallax-module" data-position-top="90" data-position-left="30"
            data-scrollax="properties: { translateY: '-150px' }"></div>
        <div class="bg-parallax-module" data-position-top="80" data-position-left="80"
            data-scrollax="properties: { translateY: '350px' }"></div>
        <div class="sec-lines"></div>
    </section>
    <!-- section end -->
    <!-- section-->
    <section class="parallax-section dark-bg sec-half parallax-sec-half-left" data-scrollax-parent="true" id="sec4">
        <div class="bg par-elem" data-bg="{% static 'images/bg/6.jpg' %}"
            data-scrollax="properties: { translateY: '30%' }"></div>
        <div class="overlay"></div>
        <div class="container">
            <div class="section-title">
                <h2>My Own <span> Developer's </span> and <br> Design Skills </h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus
                    lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et
                    pulvinar nisi tincidunt. Aliquam erat volutpat. </p>
                <div class="horizonral-subtitle"><span>Power</span></div>
            </div>
        </div>
    </section>
    <!-- section end -->
    <!-- section -->
    <section data-scrollax-parent="true">
        <div class="section-subtitle right-pos" data-scrollax="properties: { translateY: '-250px' }">
            <span>#</span>attainments</div>
        <div class="container">
            <!-- Skills-->
            <div class="fl-wrap mar-bottom skill-wrap">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pr-title fl-wrap">
                            <h3>Design Skills</h3>
                            <span>Lorem Ipsum generators on the Internet king this the first true generator</span>
                        </div>
                        <div class="ci-num"><span>01. - </span></div>
                    </div>
                    <div class="col-md-8">
                        <!-- skills  -->
                        <div class="piechart-holder animaper" data-skcolor="#5c9ead">
                            <div class="row">
                                <!-- 1  -->
                                <div class="piechart">
                                    <span class="chart" data-percent="85">
                                        <span class="percent"></span>
                                    </span>
                                    <h4>User Experience</h4>
                                </div>
                                <!-- 1 end -->
                                <!-- 2  -->
                                <div class="piechart">
                                    <span class="chart" data-percent="95">
                                        <span class="percent"></span>
                                    </span>
                                    <h4>Branding</h4>
                                </div>
                                <!-- 2 end  -->
                                <!-- 3  -->
                                <div class="piechart">
                                    <span class="chart" data-percent="80">
                                        <span class="percent"></span>
                                    </span>
                                    <div class="clearfix"></div>
                                    <h4>User Interface</h4>
                                </div>
                                <!-- 3  end-->
                            </div>
                        </div>
                    </div>
                    <!-- skills  end-->
                </div>
            </div>
            <!--  Skills  end-->
            <!--  Skills-->
            <div class="fl-wrap mar-bottom   mar-top skill-wrap">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pr-title fl-wrap">
                            <h3>Developer Skills</h3>
                            <span>Lorem Ipsum generators on the Internet king this the first true generator</span>
                        </div>
                        <div class="ci-num"><span>02. - </span></div>
                    </div>
                    <div class="col-md-8">
                        <div class="skillbar-box animaper">
                            <!-- skill 1-->
                            <div class="custom-skillbar-title"><span>Python</span></div>
                            <div class="skill-bar-percent">95%</div>
                            <div class="skillbar-bg" data-percent="95%">
                                <div class="custom-skillbar"></div>
                            </div>
                            <!-- skill 2-->
                            <div class="custom-skillbar-title"><span>Vue</span></div>
                            <div class="skill-bar-percent">65%</div>
                            <div class="skillbar-bg" data-percent="65%">
                                <div class="custom-skillbar"></div>
                            </div>
                            <!-- skill 3-->
                            <div class="custom-skillbar-title"><span>Flutter</span></div>
                            <div class="skill-bar-percent">75%</div>
                            <div class="skillbar-bg" data-percent="75%">
                                <div class="custom-skillbar"></div>
                            </div>
                            <!-- skill 1-->
                            <div class="custom-skillbar-title"><span>Dart</span></div>
                            <div class="skill-bar-percent">71%</div>
                            <div class="skillbar-bg" data-percent="71%">
                                <div class="custom-skillbar"></div>
                            </div>

                            <!-- skill 1-->
                            <div class="custom-skillbar-title"><span>Css</span></div>
                            <div class="skill-bar-percent">88%</div>
                            <div class="skillbar-bg" data-percent="88%">
                                <div class="custom-skillbar"></div>
                            </div>
                            <!-- skill 1-->
                            <div class="custom-skillbar-title"><span>HTML</span></div>
                            <div class="skill-bar-percent">90%</div>
                            <div class="skillbar-bg" data-percent="90%">
                                <div class="custom-skillbar"></div>
                            </div>
                            <!-- skill 1-->
                            <div class="custom-skillbar-title"><span>javascript / ECMA Script</span></div>
                            <div class="skill-bar-percent">92%</div>
                            <div class="skillbar-bg" data-percent="92%">
                                <div class="custom-skillbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Skills  end-->
            <!--  Skills-->
            <div class="fl-wrap   mar-top skill-wrap">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pr-title fl-wrap">
                            <h3>Language Skills</h3>
                            <span>Lorem Ipsum generators on the Internet king this the first true generator</span>
                        </div>
                        <div class="ci-num"><span>03. - </span></div>
                    </div>
                    <div class="col-md-8">
                        <!-- skills  -->
                        <div class="piechart-holder animaper" data-skcolor="#5c9ead">
                            <div class="row">
                                <!-- 1  -->
                                <div class="piechart">
                                    <span class="chart" data-percent="85">
                                        <span class="percent"></span>
                                    </span>
                                    <h4>English</h4>
                                </div>
                                <!-- 1 end -->
                                <!-- 2  -->
                                <div class="piechart">
                                    <span class="chart" data-percent="95">
                                        <span class="percent"></span>
                                    </span>
                                    <h4>Swahili</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- skills  end-->
                </div>
            </div>
            <!-- Skills  end-->
        </div>
    </section>
    <!-- section end -->
{% endblock contents %}