{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="hero-wrap" id="sec1" data-scrollax-parent="true">
    <!-- hero-inner-->
    <div class="hero-inner fl-wrap full-height">
        <!-- fs-carousel-wrap-->
        <div class="fs-carousel-wrap fl-wrap full-height slider-carousel-wrap">
            <div class="fs-carousel fl-wrap full-height cur_carousel-slider-container">
                <!-- fs-carousel-item-->
                {{name}}
                {% for project in project  %}
                <div class="fs-carousel-item">
                    <div class="fs-carousel-title fl-wrap">
                        <div class="fs-carousel-titlecat"><a href="#">Web Design</a> <a href="#">Photography</a></div>
                        <h3><a href="{{ project.get_absolute_url }}">{{ project.project }}</a></h3>
                        <a href="{{ project.get_absolute_url }}" class="fs-carousel-link">View Project</a>
                    </div>
                    <div class="carousle-item-number"><span>01.</span></div>
                    <div class="bg" data-bg="{{ project.cover.url }}"></div>
                    <div class="overlay"></div>
                </div>
                {% endfor %}


            </div>
            <!--  fs-carousel end -->
            <!--  slider nav -->
            <div class="sp-cont sarr-contr sp-cont-prev"><i class="fal fa-arrow-left"></i></div>
            <div class="sp-cont sarr-contr sp-cont-next"><i class="fal fa-arrow-right"></i></div>
            <div class="slider-nav-counter"></div>
            <!--  slider nav end-->
        </div>
        <!-- fs-carousel-wrap-->
    </div>
</div>
<div class="content">
    <!-- section-->
    <section data-scrollax-parent="true" id="sec2">
        <div class="section-subtitle" data-scrollax="properties: { translateY: '-250px' }"> <span>#</span>Short Story
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="collage-image fl-wrap">
                        <img src="{% static 'images/bg/intro-img.jpg' %}" class="greyscale respimg" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="main-about fl-wrap">
                        {% comment %} <h5>Creativity and Innovative solutions for your business</h5> {% endcomment %}
                        <h2>Innovative solutions<br> <span>to boost your </span> projects</h2>
                        <p>Hello, I am Sam Magafu, a full stack software developer. I've done remote work for agencies, consulted for startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly confident, naturally curious, and strive to develop top notch tech solutions.</p>
                        <!-- features-box-container -->
                        <div class="features-box-container fl-wrap">
                            <div class="row">
                                <!--features-box -->
                                <div class="col-md-6 text-left mt-1">
                                    <h4 class="text-uppercase">Branding</h4>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.</p> -->
                                    <ul class="spaced">
                                        <li>Brand Identity</li>
                                        <li>Visual Language</li>
                                        <li>Packaging Design</li>
                                        <li>Brand Campaigns</li>
                                        <li>Signature Assets</li>
                                        <li>Brand Guidelines</li>
                                    </ul>
                                </div>
                                <!-- features-box end  -->
                                <!--features-box -->
                                <div class="col-md-6 text-left mt-1">
                                    <h4 class="text-uppercase">Strategic Planning</h4>
                                    <ul class="spaced">
                                        <li>Research & Analysis</li>
                                        <li>Trends & insight</li>
                                        <li>Customers Experience</li>
                                        <li>Brand platform & Positioning</li>
                                        <li>Go-to-market Planning</li>
                                        <li>Content & Messaging</li>
                                    </ul>
                                </div>
                                <!-- features-box end  -->
                                <!--features-box -->
                                <div class="col-md-6 text-left mt-1">
                                    <h4 class="text-uppercase">Technology</h4>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.   </p> -->
                                    <ul class="spaced">
                                        <li>Front & Backend Web Design</li>
                                        <li>UI Design</li>
                                        <li>UX Strategy & Design</li>
                                        <li>Mobie & Desktop App Development</li>
                                        <li>Digital Advertising</li>
                                        <li>Quality Assurance</li>
                                        <li>Prototyping & Optimization</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- features-box-container end  -->
                        <a href="{% url 'project:list' %}" class="btn float-btn flat-btn color-btn">My Portfolio</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-parallax-module" data-position-top="90" data-position-left="25"
            data-scrollax="properties: { translateY: '-250px' }"></div>
        <div class="bg-parallax-module" data-position-top="70" data-position-left="70"
            data-scrollax="properties: { translateY: '150px' }"></div>
        <div class="sec-lines"></div>
    </section>
    <!-- section end-->
    <!-- section-->
    <section class="parallax-section dark-bg sec-half parallax-sec-half-right" data-scrollax-parent="true">
        <div class="bg par-elem" data-bg="{% static 'images/bg/6.jpg' %}"
            data-scrollax="properties: { translateY: '30%' }"></div>
        <div class="overlay"></div>
        <div class="container">
            <div class="section-title">
                <h2>Some <span>Interisting Facts </span> <br> About Me</h2>
                <p>Since beginning my journey as a software developer nearly 6+ years ago, I’ve done remote work for agencies, consulted for startups, and collaborated with talented people to create web products for both business and consumer use.</p>
                <div class="horizonral-subtitle"><span>Numbers</span></div>
            </div>
            <div class="fl-wrap facts-holder">
                <!-- inline-facts -->
                <div class="inline-facts-wrap">
                    <div class="inline-facts">
                        <div class="milestone-counter">
                            <div class="stats animaper">
                                <div class="num" data-content="0" data-num="15">0</div>
                            </div>
                        </div>
                        <h6>Finished projects</h6>
                    </div>
                </div>
                <!-- inline-facts end -->
                <!-- inline-facts  -->
                <div class="inline-facts-wrap">
                    <div class="inline-facts">
                        <div class="milestone-counter">
                            <div class="stats animaper">
                                <div class="num" data-content="0" data-num="10">0</div>
                            </div>
                        </div>
                        <h6>Happy customers</h6>
                    </div>
                </div>
                <!-- inline-facts end -->
                <!-- inline-facts  -->
                <div class="inline-facts-wrap">
                    <div class="inline-facts">
                        <div class="milestone-counter">
                            <div class="stats animaper">
                                <div class="num" data-content="0" data-num="8">0</div>
                            </div>
                        </div>
                        <h6>Working hours per day</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end-->

    <section>
        <div class="section-subtitle" data-scrollax="properties: { translateY: '-250px' }"><span>#</span>Testimonials
        </div>
        <div class="container">
            <div class="section-title fl-wrap">
                <h3>Reviews</h3>
                <h2>My Clients and <span>Testimonials</span></h2>
                <p>People I've worked with have said some nice things...</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--slider-carousel-wrap -->
        <div class="slider-carousel-wrap text-carousel-wrap fl-wrap">
            <div class="text-carousel-controls fl-wrap">
                <div class="container">
                    <div class="sp-cont  sp-cont-prev"><i class="fal fa-long-arrow-left"></i></div>
                    <div class="sp-cont   sp-cont-next"><i class="fal fa-long-arrow-right"></i></div>
                </div>
            </div>
            <div class="text-carousel cur_carousel-slider-container fl-wrap">
                <!--slick-item -->
                <div class="slick-item">
                    <div class="text-carousel-item">
                        <div class="popup-avatar"><img src="{% static 'images/testmonials/4.jpg' %}" alt=""></div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                        <div class="review-owner fl-wrap">Keneth Allen Lehada - <span>Day Trading Tanzania</span></div>
                        <p>"Working with Samuel was better than expected and we had really high expectations. He is an incredibly talented developer but what really makes him stand out is his work ethic and steady approach. Time after time, and without us asking, he added enhancements and improvements that resulted in a better end product for us and our clients."</p>
                    </div>
                </div>
                <!--slick-item end -->
                <!--slick-item -->
                <div class="slick-item">
                    <div class="text-carousel-item">
                        <div class="popup-avatar"><img src="{% static 'images/testmonials/3.jpg' %}" alt=""></div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
                        <div class="review-owner fl-wrap">Perryn Peter Luze - <span>Zen Organic</span></div>
                        <p>"Samuel has done a fantastic job overall. Not only brandind and packaging design, the design is very clean,slick and it standout. Love the way he transformed our idea into reality, worked on time, his commutication was superb. Dankie"</p>
                    </div>
                </div>
                <!--slick-item end -->
                <!--slick-item -->
                <div class="slick-item">
                    <div class="text-carousel-item">
                        <div class="popup-avatar"><img src="{% static 'images/testmonials/2.jpg' %}" alt=""></div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                        <div class="review-owner fl-wrap">George Marealle - <span>Afri solutions</span></div>
                        <p> "I have worked with Samuel on two complex projects and in both cases, the work was done on time, on budget, and with a high degree of professionalism. <br>

Across the board, everyone enjoyed working with Sam. Sam not only did exceptional work based on the specs we gave him for each project, but he also gave input on how to make the end product even better and cared about how users would engage with the builds. I will be using Samuel again in the future and would highly recommend his services to anyone"</p>
                    </div>
                </div>

                <div class="slick-item">
                    <div class="text-carousel-item">
                        <div class="popup-avatar"><img src="{% static 'images/testmonials/1.jpg' %}" alt=""></div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                        <div class="review-owner fl-wrap">Khalid Mwinyi- <span>Findme</span></div>
                        <p> "I came to Samuel for a facelift for my site (findme.co.tz). I have been thoroughly delighted with the experience - Samuel is a very talented Developer, but also a lot more than that - his ability to grasp things with a fresh pair of eyes is great, and he has the seniority to project manage everything himself. Absolutely brilliant!"</p>
                    </div>
                </div>
                <!--slick-item end -->
            </div>
        </div>
        <!--slider-carousel-wrap end-->
        <!-- client-list -->
        <!-- <div class="fl-wrap">
            <div class="container">
                <ul class="client-list client-list-white">
                    <li><a href="#" target="_blank"><img src="{% static 'images/clients/1.png' %}" alt=""></a></li>
                    <li><a href="#" target="_blank"><img src="{% static 'images/clients/2.png' %}" alt=""></a></li>
                    <li><a href="#" target="_blank"><img src="{% static 'images/clients/3.png' %}" alt=""></a></li>
                    <li><a href="#" target="_blank"><img src="{% static 'images/clients/4.png' %}" alt=""></a></li>
                    <li><a href="#" target="_blank"><img src="{% static 'images/clients/5.png' %}" alt=""></a></li>
                </ul>
            </div>
        </div> -->
    </section>


    <!-- section end -->

    <!-- section-->
    <section class="dark-bg2 small-padding order-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Ready To order Your Project ?</h3>
                </div>
                <div class="col-md-4"><a href="{% url "pages:contact" %}" class="btn flat-btn color-btn">Get In
                        Touch</a> </div>
            </div>
        </div>
    </section>
    <!-- section end-->
</div>
{% endblock content %}


<!-- Content end -->