{% extends 'base_fixed.html' %}
{% load static %}

{% block contents %}
<div id="wrapper" class="single-page-wrap"></div>
    <!-- Content-->
    <div class="content">
        <div class="single-page-decor"></div>
        <!-- section-->
        <section class="dark-bg">
            <div class="hidden-info-wrap-bg">
                <div class="bg-ser">
                </div>
                <div class="overlay"></div>
            </div>
            <!--   hidden-info-wrap -->
            <div class="hidden-info-wrap">
                <div class="hidden-info fl-wrap">
                    <div class="hidden-info-title pt-2">Services</div>
                    <div class="hidden-works-list fl-wrap">
                        <!--   hidden-works-item -->
                        <div class="hidden-works-item  serv-works-item fl-wrap" data-bgscr="{% static 'images/bg/long/2.jpg' %}">
                            <div class="hidden-works-item-text">
                                <h3>Branding</h3>
                                <ul class="fl-wrap yellow">
                                    <li>Brand Identity</li>
                                        <li>Visual Language</li>
                                        <li>Packaging Design</li>
                                        <li>Brand Campaigns</li>
                                        <li>Signature Assets</li>
                                        <li>Brand Guidelines</li>
                                </ul>
                                <p>From voice to tone to style, every expression matters. Brand design shapes a brand experience by creating identity touchpoints from design systems to key messages.</p>
                                <div class="clearfix"></div>
                                {% comment %} <div class="serv-price">150$-300$</div> {% endcomment %}
                                <span class="serv-number">01.</span>
                                <div class="serv-icon"><i class="fal fa-desktop"></i></div>
                            </div>
                        </div>
                        <!--   hidden-works-item end -->
                        <!--   hidden-works-item -->
                        <div class="hidden-works-item  serv-works-item fl-wrap" data-bgscr="images/bg/long/1.jpg">
                            <div class="hidden-works-item-text">
                                <h3>Strategic Planning</h3>
                                <ul class="fl-wrap yellow">
                                    <li>Research & Analysis</li>
                                        <li>Trends & insight</li>
                                        <li>Customers Experience</li>
                                        <li>Brand platform & Positioning</li>
                                        <li>Go-to-market Planning</li>
                                        <li>Content & Messaging</li>
                                        <li>Search Engine Optimization</li>
                                </ul>
                                <p>Strategy is the underlying foundation of every great brand experience. Strategy that is centered on clarifying a brand’s message to inform their decisions and shape their actions.</p>
                                <div class="clearfix"></div>
                                {% comment %} <div class="serv-price">150$-300$</div><i class="fas fa-drafting-compass"></i> {% endcomment %}
                                <span class="serv-number">02.</span>
                                <div class="serv-icon"><i class="fal fa-mobile-android"></i></div>
                            </div>
                        </div>
                        <!--   hidden-works-item end -->                         
                        <!--   hidden-works-item -->
                        <div class="hidden-works-item  serv-works-item fl-wrap" data-bgscr="images/bg/long/3.jpg">
                            <div class="hidden-works-item-text">
                                <h3>Technology</h3>
                                <ul class="fl-wrap yellow">
                                    <li>Web Applications</li>
                                        <li>Interactive UI</li>
                                        <li>UX Strategy & Design</li>
                                        <li>Mobie & Desktop App</li>
                                        <li>Digital Advertising</li>
                                        <li>Quality Assurance</li>
                                        <li>Prototyping & Optimization</li>
                                </ul>
                                <p>Creative functionality with intuitive design makes every interaction more meaningful. Embracing digital as an extension of the physical brand has the power to elevate the experience.</p>
                                <div class="clearfix"></div>
                                <div class="serv-price">150$-300$</div>
                                <span class="serv-number">03.</span>
                                <div class="serv-icon"><i class="fab fa-pagelines"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- hidden-info-wrap end -->
            <div class="fl-wrap limit-box"></div>
        </section>
        <!-- section end-->              
        <!-- section-->
        <section class="dark-bg2 small-padding order-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Ready To order Your Project ?</h3>
                    </div>
                    <div class="col-md-4"><a href="contscts.html" class="btn flat-btn color-btn">Get In Touch</a> </div>
                </div>
            </div>
        </section>


{% endblock contents %}
    